h1, h2, h3, h4, h5{
  font-weight: normal;
}

body{
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}

.cover{
  background-size: cover;
  margin-bottom: 50px;
}

.cover__overlay{
  background: rgba( 0, 0, 0, 0.6 );
  height: 440px;
  padding: 150px 250px 0 250px
}

.cover h2{
  font-family: 'Ek Mukta', sans-serif;
  font-size: 4em;
  margin-bottom: 20px;
  margin-top: 1em;
  text-transform: uppercase;
  color: white;
}

.cover p{
  color: rgba( 255, 255, 255, 0.8);
  line-height: 1.8;
}

.cover__date{
  margin: 30px 0;
  font-style: italic;
  color: rgba(255, 255, 255, 0.55);
}

.photoset__fullrow{
  margin: 100px 0;
}

.photoset__fullrow:last-child{
  margin-bottom: -10px;
}

.photoset__fullrow img{
  width: 100%;
  vertical-align: top;
}
.photoset__row{
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}


.photoset__row img{
  float: left;
  display: none;
}

.story-content{
  margin: 4em auto 4.9em;
  width: 47em;
}
.story-content h2{
  font-family: 'Ek Mukta', sans-serif;
  font-size: 2.6em;
  margin-bottom: 1em;
  margin-top: 1em;
  text-transform: uppercase;
}
.story-content p{
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  font-weight: 400;
  margin-bottom: 1em;
}

.story-content p:last-child{
  margin-bottom: 0;
}
